@import "tailwindcss";
@import "tailwindcss";

/* Pure website se scrollbar ko hide karne ka modern code */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}